# Run with:
# ansible-playbook DisableSELinux.yml

---
- name: Disable SELinux
  hosts: all
  tasks:

  - name: Put SELinux in permissive mode, logging actions that would be blocked.
    ansible.posix.selinux:
      policy: targeted
      state: permissive

