# Run with:
# ansible-playbook InstallNPM.yml

---
- name: Install NPM
  hosts: all
  tasks:

  - name: Install NPM package on OpenSUSE/SUSE Linux
    zypper:
      name: npm22
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") != -1

  - name: Install NPM package on Raspberian Linux
    apt:
      name: npm
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") == -1

