# Run with:
# ansible-playbook InstallDocker.yml

---
- name: Install Docker and Start Service
  hosts: all
  tasks:

  - name: Install just Docker package on OpenSUSE/SUSE Linux
    zypper:
      name: docker
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") != -1

  - name: Install docker package on Raspberian Linux
    apt:
      name: docker.io
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") == -1

  - name: Install docker-compose package on OpenSUSE/SUSE Linux
    zypper:
      name: docker-compose
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") != -1

  - name: Install docker-compose package on Raspberian Linux
    apt:
      name: docker-compose
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") == -1

  - name: Create directory for Docker CLI plugins
    ansible.builtin.file:
      path: /usr/libexec/docker/cli-plugins
      state: directory
      mode: '0755'
    when:
    - ansible_facts['distribution'].find("openSUSE") == -1

  - name: Download Docker Compose plugin (v2) for ARM
    ansible.builtin.get_url:
      url: https://github.com/docker/compose/releases/download/v2.39.0/docker-compose-linux-aarch64
      dest: /usr/libexec/docker/cli-plugins/docker-compose
      mode: '0755'
    when:
    - ansible_facts['distribution'].find("openSUSE") == -1

#  - name: Install docker-compose Python package on OpenSUSE/SUSE Linux
#    zypper:
#      name: python311-docker-compose
#      state: present

  # Was needed for Docker Swarm
  - name: Install Python modules for docker package on OpenSUSE/SUSE Linux
    zypper:
      name: python*-docker
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") != -1

  # Was needed for Docker Swarm Deploy
  - name: Install JSON Diff for docker package on OpenSUSE/SUSE Linux
    zypper:
      name: python*-jsondiff
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") != -1

  - name: Install PIP on OpenSUSE/SUSE Linux
    zypper:
      name: python*-pip
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") != -1

#  - name: Install Docker-Compose python package
#    ansible.builtin.pip:
#      name: docker-compose

  - name: Enable Docker service
    ansible.builtin.systemd:
      name: docker
      enabled: yes

  - name: Start Docker service
    ansible.builtin.systemd:
      state: restarted
      name: docker

