# Run with:
# ansible-playbook InstallAutoconf.yml

---
- name: Install Autoconf
  hosts: all
  tasks:

  - name: Install Autoconf package on OpenSUSE/SUSE Linux
    zypper:
      name: autoconf
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") != -1

  - name: Install Autoconf package on Raspberian Linux
    apt:
      name: autoconf
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") == -1

