# Run with:
# ansible-playbook InstallAutoMake.yml

---
- name: Install Automake
  hosts: all
  tasks:

  - name: Install Automake package on OpenSUSE/SUSE Linux
    zypper:
      name: automake
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") != -1

  - name: Install Automake package on Raspberian Linux
    apt:
      name: automake
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") == -1

