# Run with:
# ansible-playbook InstallFlex.yml

---
- name: Install Flex
  hosts: all
  tasks:

  - name: Install Flex package on OpenSUSE/SUSE Linux
    zypper:
      name: flex
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") != -1

  - name: Install Flex package on Raspberian Linux
    apt:
      name: flex
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") == -1

