# Run with:
# ansible-playbook InstallM4.yml

---
- name: Install M4
  hosts: all
  tasks:

  - name: Install M4 package on OpenSUSE/SUSE Linux
    zypper:
      name: m4
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") != -1

  - name: Install M4 package on Raspberian Linux
    apt:
      name: m4
      state: present
    when:
    - ansible_facts['distribution'].find("openSUSE") == -1

